<mat-form-field appearance="outline" style="width: 300px;">
  <mat-label>Select item</mat-label>

  <mat-select [formControl]="control">
    
    <!-- Search -->
    <mat-option class="search-option">
      <div class="search-container" (click)="$event.stopPropagation()">
        <span class="search-icon">🔍</span>
        <input
          class="search-input"
          placeholder="Search..."
          (keyup)="filterList($event)"
        />
      </div>
    </mat-option>

    <!-- Options -->
    <mat-option *ngFor="let item of filteredList" [value]="item">
      {{ item }}
    </mat-option>

  </mat-select>
</mat-form-field>